
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
    
    background: url(../images/about_img.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
	font-family: arial;
}
.clearfix{
	clear:both;
}
/**** LOGIN_SIGNUP ******/
/* form */
.container {
    width: 50%;
    margin: 0 auto;
}
h1.agileits-title {
    font-size: 4em;
    color: #fff;
    text-transform: capitalize;
    padding: 0.5em 0 0;
}
h2.sub-head-w3-agileits {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.6em;
    letter-spacing: 1px;
    margin: 0.5em 0;
}
.login-form {
    background: rgba(44, 47, 47, 0.75);
    margin: 3em 0;
    padding: 3em;
}
.agileits-location {
    width: 49%;
    float: left;
    margin: 0 0 1em 0;
}
.agileits-location label {
    float: left;
    color: #fff;
    margin: 0 0 1em 0;
    font-size: 1em;
    text-transform: capitalize;
}
.agileits-location select {
    outline: none;
    border-radius: 5px;
    font-size: 0.9em;
    background: transparent;
    padding: 0.8em 1em;
    border: 1px solid #fff;
    color: #fff!important;
    -webkit-appearance: none;
    width: 100%;
}
option{
	background:#00bcd4 !important
}
.agile_its_registration input[type="submit"]:hover {
    background: #2196F3;
    text-align: center;
}
.w3ls-1{
	margin-left:10px;
}
.agile_its_registration input[type=text], .agile_its_registration input[type=email] {
    padding: 0.8em 1em;
    color: #fff;
    font-size: 0.9em;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    margin: 1em 0;
	border-radius:5px;
    -webkit-appearance: none;
    width: 87.5%;
    
}
form.agile_form {
    width: 50%;
}
.agile_its_registration textarea {
    padding: 0.8em 1em;
    color: #fff;
    font-size: 0.9em;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    -webkit-appearance: none;
    width: 92%;
    font-family: 'Hind', sans-serif;
    width: 87%;
	resize:none;
	height:5em;
    border-radius: 5px;
  
}
.agile_its_registration input[type="submit"] {
    background: #00bcd4;
    width: 100%;
	margin:1em 0 0;
    display: block;
    padding: 0.7em 1em;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
	border-radius:5px;
    outline: none;
    font-size: 0.9em;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    
}
/* //form */
::-webkit-input-placeholder{
	color:#fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}
.agileits_w3layouts_copyright p, .agileits_w3layouts_copyright a {
    font-size: 1em;
    color: #fff;
}
.agileits_w3layouts_copyright {
    padding: 0 0 2em;
}
/* -- Responsive code -- */
@media screen and (max-width: 1440px){
	.container {
		width: 54%;
	}
}
@media screen and (max-width: 1366px){
	.container {
		width: 56%;
	}
}
@media screen and (max-width: 1050px){
	h1.agileits-title {
		font-size: 3.5em;
    }
	.container {
		width: 58%;
	}
}
@media screen and (max-width: 1024px){
	.container {
		width: 60%;
	}
}
@media screen and (max-width: 991px){
	h1.agileits-title {
		font-size: 3.1em;
	}
	.login-form {
		padding: 3em 2.5em;
	}
}
@media screen and (max-width: 900px){
	.container {
		width: 66%;
	}
	h2.sub-head-w3-agileits {
		font-size: 1.4em;
	}
	.container {
		width: 74%;
	}
}
@media screen and (max-width: 768px){
	.container {
		width: 78%;
	}
}
@media screen and (max-width: 736px){
	.container {
		width: 81%;
	}
	h1.agileits-title {
		font-size: 2.8em;
	}
}
@media screen and (max-width: 667px){
	h2.sub-head-w3-agileits {
		font-size: 1.2em;
	}
	.container {
		width: 89%;
	}
}
@media screen and (max-width: 640px){
	.container {
		width: 93%;
	}
}
@media screen and (max-width: 600px){
	.container {
		width: 94%;
	}
	.login-form {
		padding: 3em 1.5em;
	}
}
@media screen and (max-width: 568px){
	h2.sub-head-w3-agileits {
		font-size: 1.1em;
	}
	.container {
		width: 87%;
	}
	.agileits-location {
		width: 100%;
	}
	.w3ls-1 {
		 margin-left: 0;
	}
	.agile_its_registration input[type=text], .agile_its_registration input[type=email] {
		width: 100%;
	}
	.agile_its_registration input[type="submit"] {
		width: 100%;
	}
	h2.sub-head-w3-agileits {
		font-size: 1.1em;
		line-height: 1.7;
		padding:0 1em;
	}
	h1.agileits-title {
		font-size: 2.5em;
	}
	.login-form {
		margin: 2em auto;
	}
	.agile_its_registration textarea {
        width: 100%;
	}
}
@media screen and (max-width: 480px){
	form.agile_form {
		width: 91%;
	}
}
@media screen and (max-width: 414px){
	form.agile_form {
		width: 89%;
	}
	.agileits_w3layouts_copyright {
		padding: 0 1em 1em;
	}
	.login-form {
		padding: 2em 1.5em;
	}
	.agileits_w3layouts_copyright p,.agileits_w3layouts_copyright a{
		font-size: 0.95em;
	}
}
@media screen and (max-width: 384px){
	form.agile_form {
		width: 88%;
	}
	h1.agileits-title {
		font-size: 2.2em;
	}
	.agileits-location {
	   margin: 0 0 0.8em 0;
	}
}
@media screen and (max-width: 375px){
	.container {
		width: 92%;
	}
}
@media screen and (max-width: 320px){
	form.agile_form {
		width: 85%;
	}
}


.agile_its_registration{
    margin-left: 28%;
    width: 40vw;
}
.homebtn:hover
{
    background-color:#ffc120    ;
    color:white; 
}
.homebtn{
    width: 120px;
    height: 40px;
    color:black; 
    font-size: 15px;
    margin-left:75vw;
    margin-top: 5vh;
    border-radius: 30px;
    border: none;
    background-color: white;
}